body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4, h2 {
    color: black;
    font-size: 20px;
    margin: 0;
}

h2 {
    padding: 10px;
}
.img-hero {
    max-width: 250px;
    border-radius: 10px;
}

li a {
    color: rgb(215, 186, 137);
}

li {
    font-size: 15px;
    text-align: left;
    color: black;
    list-style-type: square;
    line-height: 20px;
}

p {
    color: black;
    font-size: 15px;
    margin: 10px;
    line-height: 20px;
}

.ingredients {
    padding: 10px;
}

div.card {
    margin: 10px auto;
    max-width: 50vw;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 4px solid black;
}